EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
VECTORSTORE_PATH=artifacts/faiss_index
GROQ_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL_NAME=llama-3.3-70b-versatile
TOKENIZERS_PARALLELISM=false
RERANK_MODEL_NAME=cross-encoder/ms-marco-MiniLM-L-6-v2
CHUNKS_PATH=artifacts/chunks.jsonl