EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
VECTORSTORE_PATH=vectorstore/faiss_index
GROQ_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL_NAME=llama-3.3-70b-versatile
TOKENIZERS_PARALLELISM=false