langchain
langsmith
langchain-community
langchain-openai
faiss-cpu
pypdf
python-dotenv
tiktoken
numpy<2
torch==2.2.2
transformers==4.41.0
sentence-transformers
langchain-groq
langchain-huggingface
rank_bm25
fastapi
python-multipart
uvicorn
sqlalchemy
alembic
psycopg[binary]
pgvector
celery
redis
